@media (max-width:968px) {
  header {
    padding-left: 50px;
    padding-right: 50px;
  }

  header nav ul li a {
    font-size: 16px;
  }

  /* hero */
  .hero-section {
    width: 95%;
  }

  .hero-section .left h1{
    font-size: 30px;
  }

}